---
layout: page
title: Home
special_page: Home
---

<p>
Welcome to the unofficial site of number theory group at Tsinghua University.
</p>

{% include seminar_talk_photo.html my_subtype="seminar_2019_fall"
talk_time="2019-09-16 12:00" src="/media/2019-09-16-song-wang.jpg" %}

<h3>Next week:</h3>

{% include current_seminar.html my_subtype="seminar_2019_fall"
start_time="2019-10-07 00:00:00"
end_time="2019-10-20 23:59:59" %}

<hr>
<h4>Links</h4>
<p>
<a href="http://ymsc.tsinghua.edu.cn" target="_blank">YMSC Tsinghua</a>
|
<a href="http://www.mcm.ac.cn/" target="_blank">Morningside Center of Mathematics</a>
|
<a href="http://www.math.ac.cn/" target="_blank">Institute of Mathematics, CAS</a>
|
<a href="http://www.amss.ac.cn/" target="_blank">AMSS, CAS</a>
|
<a href="http://bicmr.pku.edu.cn/" target="_blank">BICMR</a>
</p>
