{%- assign filtered_posts = site.posts | where: "my_subtype", include.my_subtype -%}
{%- assign my_parent = filtered_posts[0] -%}
{%- assign seminar_name = include.seminar_name | default: my_parent.title -%}

{%- assign talk_time = include.talk_time | default: "1970-01-01 12:00:00" | date: "%Y%m%d" -%}
{%- assign filtered_posts = site.posts | where: "my_type", my_parent.my_subtype -%}
{%- for post in filtered_posts -%}
  {%- assign post_time = post.date | date: "%Y%m%d" -%}
  {%- if post_time == talk_time -%}
    {%- assign selected_post = post -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- assign title = include.title | default: selected_post.title -%}
{%- assign speaker = include.speaker | default: selected_post.author -%}

<p style="text-align: center; font-size: 80%;">
<img src="{{ include.src | prepend: site.baseurl }}" alt="{{ speaker }}" style="width: 60em;"><br>
{{ speaker }} gave a talk
<a href="{{ selected_post.url | prepend: site.baseurl }}">{{ title }}</a>
at
<a href="{{ my_parent.url | prepend: site.baseurl }}">{{ seminar_name }}</a>
</p>
