<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <h1>
      <a href="http://www.tsinghua.edu.cn" target="_blank">
        <img src='{{ "/media/Tsinghua_University_Logo.svg" | prepend: site.baseurl }}' height="80" width="80" alt="Tsinghua Icon">
      </a>
      Number Theory Group at Tsinghua University
    </h1>

    <div id="nav">
      <nav>
      <ul>
        <li>
          <a href='{{ "index.html" | prepend: site.baseurl }}'
          {% if page.special_page == "Home" %}class="active"{% endif %}
          >Home</a>
        </li>
        <li class="dropdown">
          <a href='{{ "seminar.html" | prepend: site.baseurl }}'
          {% if page.special_page == "Seminars" %}class="dropbtn-active"{% else %}class="dropbtn"{% endif %}
          >Seminars</a>
          <div class="dropdown-content">
            <a href='{{ "seminar.html" | prepend: site.baseurl }}'>Seminar 1</a>
            <a href='{{ "seminar.html" | prepend: site.baseurl }}'>Seminar 2</a>
          </div>
        </li>
      </ul>
      </nav>
    </div>

    <div id="content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
