---
layout: default
---

{%- assign filtered_posts = site.posts | where: "my_subtype", page.my_type %}
{%- assign my_parent = filtered_posts[0] %}

<h2>{{ page.title }}</h2>

<p><b>Time: </b> {{ page.date | date: "%a, %-d %b %Y" }},
{% if page.alternative_time %}<font color="red">{{ page.alternative_time }}</font>{% else %}{{ my_parent.default_time }}{% endif %}</p>

<p>{% if page.alternative_place %}<font color="red"><b>Place:</b> {{ page.alternative_place }}</font>{% else %}<b>Place:</b> {{ my_parent.default_place }}{% endif %}</p>

<p><b>Speaker:</b> {{ page.author }}</p>

<p><b>Abstract:</b></p>

{{ content }}
