---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

<p><b>Place: </b>{{ page.default_place }},
unless <font color="red">marked in red</font></p>

<p><b>Time: </b>{{ page.default_weekday }} {{ page.default_time }},
unless <font color="red">marked in red</font></p>

<table>
<tr>
<th>Time &amp; Place</th><th>Speaker</th><th>Title</th>
</tr>
{%- assign filtered_posts = site.posts | where: "my_type", page.my_subtype %}
{%- for post in filtered_posts reversed %}
{%- include seminar_talk_item.html post=post
default_time=page.default_time default_place=page.default_place %}
{%- endfor %}
</table>
