---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

<table>
<tbody>
<tr>
<th>Time</th><th>Speaker</th><th>Title</th>
</tr>
{% for post in site.posts reversed %}{% if post.my_type == page.my_subtype %}{% if post.holiday %}
<tr>
<td>{{ post.date | date: "%a, %-d %b %Y" }}</td>
<td colspan="2"><i>{{ post.title }}</i></td>
</tr>
{% else %}
<tr>
<td>{{ post.date | date: "%a, %-d %b %Y" }}{% if post.alternative_time %},
<font color="red">{{ post.alternative_time }}</font>{% endif %}{% if post.alternative_place %}<br>
<font color="red"><b>Place:</b> {{ post.alternative_place }}</font>{% endif %}</td>
<td>{{ post.author }}</td>
<td><a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a></td>
</tr>
<tr>
<td colspan="3"><b>Abstract:</b> {{ post.content | markdownify }}</td>
</tr>
{% endif %}{% endif %}{% endfor %}
</tbody>
</table>
