---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

{% for post in site.posts %}{% if post.layout == "seminar_page" and post.my_type == page.my_subtype %}
  <div class="entry">
    <h3><a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a></h3>
    <p class="info">Posted by <b>{{ post.author }}</b> on <b>{{ post.date | date: "%a, %-d %b %Y" }}</b></p>
    {{ post.excerpt }}
    {% comment %}  {{ post.content | markdownify }} {% endcomment %}
  </div>
{% endif %}{% endfor %}
